<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>THE HUT - Temple+Shafton Youth Project</title>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>

      <div class="container">
        <!-- Page Content goes here -->
<img class="container-width" src="{{url_for('static', filename='images/the-hut-build.png')}}" align="middle" />


<p>
    The Hut has worked with young people since 1987,
providing effective youth work practice. This is
achieved through a wide range of activities, planning,
personal and social development.
</p>
<p>
    <img class="container-width" src="{{url_for('static', filename='images/community.png')}}" align="middle" />
<br>
    Young people attend The Hut because they know
they are in a place that promotes relationship
building in a safe, fun and friendly environment.
</p>
<p>
    Our aim is to “Do what’s possible and Try what’s not”
through inspiring them to reach their potential while
becoming better active citizens.
</p>

<p>
    Hopefully, you are now wondering how we will achieve this.
    <ul>
    <blockquote>
        Opening when young people want the building available to them, so
late night provision around weekends is a must for them.

    </blockquote>
        <blockquote>
Creating opportunities that they plan not just within their own com-
munities but the wider world.

    </blockquote>    <blockquote>
Support their transition for young people to adulthood.

    </blockquote>    <blockquote>
Support then to improve their Health & Wellbeing.

    </blockquote>    <blockquote>
Support them with Education and Work.

    </blockquote>    <blockquote>
Support them in making a positive contribution to communities.

    </blockquote>    <blockquote>
        Opening when young people want the building available to them, so
late night provision around weekends is a must for them.

    </blockquote>
</ul>
</p>

  </div>



</body>
</html>